[user]
	name = yatemmma
	email = yatemmma@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ba = branch -a
	conf = config --global
	ci = commit -a
	ls = log --stat
	lp = log -p
	ll = log --color --pretty=\"format:%Cgreen%ai %Creset%h %Cred(%an): %Creset%s\" -40
	la = log --color --pretty=\"format:%Cgreen%ai %Creset%h %Cred(%an): %Creset%s\"
	tree = log --graph --date=short --pretty=format:\"%Cgreen%ai %Creset%h %Cred%cn %Creset%s\" -20
	treea = log --graph --date=short --pretty=format:\"%Cgreen%ai %Creset%h %Cred%cn %Creset%s\"
	df = diff
	dc = diff --cached
	dw = diff --color-words
        fe = fetch --prun
        rh = reset --hard
	bk = !git branch $1_bk
[color]
	ui = auto
[core]
	pager = less -r
