[user]
	name = yatemmma
	email = yatemmma@gmail.com
[color]
[alias]
	st = status
	co = checkout
	br = branch
	ba = branch -a
	conf = config --global
	ci = commit -a
	ls = log --stat
	lp = log -p
	la = log --color --pretty=\"format:%Cgreen%ai %Creset%h %Cred(%an): %Creset%s\"
	tree = log --graph --date=short --pretty=format:\"%Cgreen%ai %Creset%h %Cred%cn %Creset%s\"
	dw = diff --color-words
	df = diff
[color]
	ui = auto
[core]
	pager = less -r
